body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

#filter-sources {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    margin: 20px 0;

    label {
        display: flex;
        align-items: center;
        font-size: 1em;
    }

    input {
        outline: none;
        padding: 10px 5px;
        font-size: 1em;
    }

    button {
        border-radius: 5px;
        font-size: 1em;

        &:hover {
            cursor: pointer;
        }
    }
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    #filter-sources {
        font-size: 12px;
        flex-direction: column;
    }
}
