.button {
  cursor: pointer;
  margin: 5px 10px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--main-white);
  color: var(--main-black);
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--main-gray);
  }

  &:active {
    background-color: var(--main-light-black);
    color: var(--main-white);
  }
}


.toggle-sound-button {
  height: 30px;
  width: 30px;
  padding: 0;
  background: url("../img/sound-on-svgrepo-com.svg") no-repeat center / 80%;
  background-color: var(--main-white);

  &.off {
    background: url("../img/sound-off-svgrepo-com.svg") no-repeat center / 80%;
    background-color: var(--main-white);
  }

}