.cell {
  width: 20px;
  height: 20px;
  border: 1px solid var(--main-gray);
  margin: 0px;
  background-color: white;
  transition: background-color 0.3s ease-in-out;


  &:nth-child(5n + 1) {
    border-left: solid 2px var(--main-black);
  }

  &:nth-child(5n) {
    border-right: solid 2px var(--main-black);
  }

  &:first-child {
    border-left: solid 3px var(--main-black);
  }

  &:last-child {
    border-right: solid 3px var(--main-black);
  }


  &:hover {
    cursor: pointer;
  }

  &.cell-black {
    background-color: var(--main-black);
  }

  &.cell-cross {
    background:
      linear-gradient(to top left,
        rgba(0, 0, 0, 0) -10%,
        rgba(0, 0, 0, 0) calc(50% - 0.8px),
        rgb(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0) calc(50% + 0.8px),
        rgba(0, 0, 0, 0) 110%),
      linear-gradient(to top right,
        rgba(0, 0, 0, 0) -10%,
        rgba(0, 0, 0, 0) calc(50% - 0.8px),
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0) calc(50% + 0.8px),
        rgba(0, 0, 0, 0) 110%);
    background-repeat: no-repeat;
  }

}