.controls-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: solid 3px var(--main-light-white);
  background-color: var(--main-light-black);
}