.footer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: var(--main-light-black);
  color: var(--main-white);
  font-size: 24px;

  .footer-link {
    text-decoration: none;
    color: var(--main-white);

    &:hover {
      cursor: pointer;
    }
  }
}