.game-place {
  margin: 20px auto;
  display: grid;
  grid-auto-rows: minmax(20px, auto);
  grid-template-columns: minmax(20px, auto) minmax(20px, auto);
  ;


  .game-place-main {}
}

.row {
  display: flex;
  flex-direction: row;

  &:nth-child(5n + 1) .cell {
    border-top: solid 2px var(--main-gray);
  }

  &:nth-child(5n) .cell {
    border-bottom: solid 2px var(--main-gray);
  }

  &:first-child .cell {
    border-top: solid 3px var(--main-gray);
  }

  &:last-child .cell {
    border-bottom: solid 3px var(--main-gray);
  }
}