.game-place {
  margin: 20px auto;
  display: grid;
  grid-auto-rows: minmax(20px, auto);
  grid-template-columns: minmax(20px, auto) minmax(20px, auto);
  ;


  .game-place-main {
    border: solid 1px var(--dark-gray);
  }
}

.row {
  display: flex;
  flex-direction: row;

  &:nth-child(5n + 1) .cell {
    border-top: solid 1px var(--dark-gray);
  }

  &:nth-child(5n) .cell {
    border-bottom: solid 1px var(--dark-gray);
  }
}