:root {
  --main-gray: darkgray;
  --dark-gray: rgb(88, 88, 88);
  --cell-size: 20px;
}

* {
  box-sizing: content-box;
}

body {
  margin: 0;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}