:root {
  --main-gray: #cfcfcf;
  --dark-gray: #868686;
  --main-black: #414141;
  --main-light-black: #7a7272;
  --main-white: #fff;
  --main-light-white: #f0f0f0;
  --main-olive: #9ba38c;
  --cell-size: 20px;
}

* {
  box-sizing: content-box;
}

body {
  margin: 0;
}

.dark-theme {
  --main-gray: darkgray;
  --dark-gray: #585858;
  --main-black: #000000;
  --main-light-black: #333;
  --main-white: #fff;
  --main-light-white: #f0f0f0;
  --main-olive: #636959;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--main-olive);
}

.message-place {
  margin-top: -3px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid 3px var(--main-light-white);
  background-color: var(--main-light-black);

  .message-box {
    padding: 10px 20px;
    font-size: 24px;
    color: var(--main-white);
  }
}