@import 'tailwindcss';

html,
body {
  height: 100%;
  background-color: #022f2e;
}

@layer components {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .colorInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
  }

  .colorInput::-webkit-color-swatch {
    border-radius: 50%;
    border: 1px solid #000000;
  }

  .colorInput::-moz-color-swatch {
    border-radius: 50%;
    border: 1px solid #000000;
  }
}
