/* stylelint-disable-next-line import-notation */
@import "tailwindcss";

body {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;

  background-color: rgb(94 233 181);
}
