.button {
  font-size: 1em;
  border-radius: 5px;
  padding: 5px 20px;
  margin: 2px;
  outline: none;
  border: solid rgb(24, 22, 22) 2px;

  &:hover {
    cursor: pointer;
  }
}

.button--invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button--disabled {
  pointer-events: none;
  border-color: rgb(65, 64, 64);
  background-color: darkgray;
  opacity: 0.8;

  &:hover {
    cursor: auto;
  }
}

.controls {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
}

.controls-level {
  background-color: lightgray;
  padding: 10px;
  border-radius: 10px;
  border: solid 1px black;

  .active-level {
    background-color: darkslategray;
    color: whitesmoke;
  }
}