.keyboard {
  margin: 10px auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.key {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  border: 2px solid #333333;
  border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
  letter-spacing: 0.3ch;
  background: #ffffff;
  position: relative;

  &.disabled-key {
    pointer-events: none;
    background-color: rgb(139, 139, 139);
  }

  &::before {
    content: '';
    border: 1px solid #353535;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(5deg);
    border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    transition: transform .3s ease-in-out;
  }

  &.select-key {
    background-color: darkslategray;
    color: #ffffff;
  }

  &:hover {
    background-color: darkslategray;
    color: #ffffff;
    cursor: pointer;

    &::before {
      transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(-5deg);
    }
  }

  &:active {
    background-color: rgb(29, 43, 43);
    color: whitesmoke;
    cursor: pointer;
  }
}

@media screen and (max-width: 1200px) {
  .keyboard {
    max-width: 500px;
  }
}

@media screen and (max-width: 800px) {
  .keyboard {
    max-width: 440px;
  }
}