.keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.key {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid black 1px;
  user-select: none;

  &:hover {
    background-color: lightcyan;
    cursor: pointer;
  }
}