.keyboard {
  margin: 10px auto;
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 10px;
}

.key {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: solid black 1px;
  user-select: none;

  &.select-key {
    background-color: darkslategray;
    color: whitesmoke;
  }

  &:hover {
    background-color: darkslategray;
    color: whitesmoke;
    cursor: pointer;
  }

  &:active {
    background-color: rgb(29, 43, 43);
    color: whitesmoke;
    cursor: pointer;
  }
}

@media screen and (max-width: 1200px) {
  .keyboard {
    max-width: 500px;
  }
}

@media screen and (max-width: 800px) {
  .keyboard {
    max-width: 440px;
  }
}