html {
  font-size: 32px;
}

body {
  margin: 0;
  background-color: rgb(189, 218, 228);
}

.header {
  min-height: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.wrapper {
  margin: 0 auto;
  padding: 5px 3px;
  max-width: 1500px;
  min-height: 100vh;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}


@media screen and (max-width: 1200px) {
  html {
    font-size: 24px;
  }
}

@media screen and (max-width: 800px) {
  html {
    font-size: 16px;
  }

  .header {
    .title {
      margin: 3px 0;
    }

    .text {
      display: none;
    }
  }
}